# RAG
VECTOR_DB_API_KEY=""
VECTOR_DB_ENDPOINT=""

# AIRFLOW
AIRFLOW_UID=1001
AIRFLOW_PROJ_DIR="."
AIRFLOW__METRICS__STATSD_ON="False"
AIRFLOW__METRICS__STATSD_PORT="8125"
AIRFLOW__METRICS__STATSD_PREFIX=""
AIRFLOW__METRICS__STATSD_HOST=""

# DB 
POSTGRES_HOST = ""
POSTGRES_PORT = 
POSTGRES_USER = ""
POSTGRES_PASSWORD = ""
POSTGRES_DATABASE = "publications"
POSTGRES_POOL_SIZE = "30"
POSTGRES_POOL_TIMEOUT = "120"
POSTGRES_POOL_RECYCLE = "1800"
POSTGRES_MAX_OVERFLOW = "10"

# Observability
STATSD_HOST = ""
STATSD_PORT = ""