name: CI 

on: [push, pull_request]

# Define shared variables
env: 
  PYTHON_VERSIONS: '["3.12"]'
  POETRY_VERSIONS: '["2.2.1"]'
  OS: '["ubuntu-24.04", "ubuntu-22.04"]'


jobs: 
  lint: 
    strategy: 
      fail-fast: false
      max-parallel: 1
      matrix: 
        python-version:  ${{ fromJSON(env.PYTHON_VERSIONS) }}
        poetry-version: ${{ fromJSON(env.POETRY_VERSIONS) }}
        os: ${{ fromJSON(env.OS) }}

    runs-on: ${{ matrix.os }}
    steps:
      - uses: ./.github/actions/lint
        with: 
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ matrix.poetry-version }}
      
  test: 
    needs: lint 
    strategy: 
      fail-fast: false
      max-parallel: 1
      matrix: 
        python-version:  ${{ fromJSON(env.PYTHON_VERSIONS) }}
        poetry-version: ${{ fromJSON(env.POETRY_VERSIONS) }}
        os: ${{ fromJSON(env.OS) }}
    runs-on: ${{ matrix.os }}
    steps: 
      - uses: ./github/actions/test
        with: 
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ matrix.poetry-version }}

