name: CI 

on: [push, pull_request]


jobs: 
  lint: 
    strategy: 
      fail-fast: false
      max-parallel: 1
      matrix: 
        python-version:  ${{ fromJSON(vars.PYTHON_VERSIONS) }}
        poetry-version: ${{ fromJSON(vars.POETRY_VERSIONS) }}
        os: ${{ fromJSON(vars.OS_MATRIX) }}

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4   

      - uses: ./.github/actions/lint
        with: 
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ matrix.poetry-version }}
      
  test: 
    needs: lint 
    strategy: 
      fail-fast: false
      max-parallel: 1
      matrix: 
        python-version:  ${{ fromJSON(vars.PYTHON_VERSIONS) }}
        poetry-version: ${{ fromJSON(vars.POETRY_VERSIONS) }}
        os: ${{ fromJSON(vars.OS_MATRIX) }}
    runs-on: ${{ matrix.os }}
    steps: 
      - uses: actions/checkout@v4   

      - uses: ./.github/actions/test
        with: 
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ matrix.poetry-version }}

